{% load compress %}
{% load static %}


<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}{% endblock title %}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% compress css %}
		<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.css' %}">
		<link rel="stylesheet" type="text/x-scss" href="{% static 'styles/main.scss' %}">
	{% endcompress %}
</head>
<body>
	<main id="{{ view.title|slugify }}">
		{% block content %}{% endblock content %}
	</main>
</body>
</html>
