@import "vendors/includes";


$susy: (
    columns: 12,
    container: 1168px,
    global-box-sizing: border-box,
    gutter-position: split,
    gutters: 0.25,
);


body {
    background: #44B78B;
    color: white;

    & > * {
        @include container;
    }
    main > section {
        @include span(full);
    }

}

.worked {
    padding-top: 10em;

    hr {
        display: block;
        height: 2px;
        border: 0;
        border-top: 1px solid #2b7156;
        margin: 2em 0;
        padding: 0;
    }

    li {
        text-decoration: none;
    }

    a{
        text-decoration: none;
        color: white;
    }
}
